{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
		<title>Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="bg-text">
            <h1 style="color:black;">Signed in as, {{data.email}}</h1></br></br> 
            <img class="img" src="{% static 'profile.gif' %}" height="110px" alt="Coder">
        <form action="update" method="post">
            <h2 style="color:black;">You will get the reminder for contests from:</h2>
            {% if data.codechef == 1 %}
            <input type="checkbox" value="codechef" name="contest" checked>CodeChef</input></br></br>
            {% else %}
            <input type="checkbox" value="codechef" name="contest">CodeChef</input></br></br>
            {% endif %}
            {% if data.codeforces == 1 %}
            <input type="checkbox" value="codeforces" name="contest" checked>CodeForces</input></br></br>
            {% else %}
            <input type="checkbox" value="codeforces" name="contest">CodeForces</input></br></br>
            {% endif %}
            {% if data.hackerearth == 1 %}
            <input type="checkbox" value="hackerearth" name="contest" checked>HackerEarth</input></br></br>
            {% else %}
            <input type="checkbox" value="hackerearth" name="contest">HackerEarth</input></br></br>
            {% endif %}
            {% if data.hackerrank == 1 %}
            <input type="checkbox" value="hackerrank" name="contest" checked>HackerRank</input></br></br>
            {% else %}
            <input type="checkbox" value="hackerrank" name="contest">HackerRank</input></br></br>
            {% endif %}
            {% if data.spoj == 1 %}
            <input type="checkbox" value="spoj" name="contest" checked>Spoj</input></br></br>
            {% else %}
            <input type="checkbox" value="spoj" name="contest">Spoj</input></br></br>
            {% endif %}
            <input class="btn1" type="submit" value="Update Details"/>
        </form>
        <form action="logout" method="post">
            <input class="btn1" type="submit" value="Logout"/>
        </form>
        <form action="delete" method="post">
            <input  class="btn1" type="submit" value="Delete Account"/>
        </form>
        </div>
    </body>
</html>